.service {
  h4 {
    font-size: 1.3rem;
    margin-bottom: 0;
  }

  i {
    font-size: 3rem;
  }

  .service-bar {
    h6 {
      font-size: 1rem;
    }

    p {
      font-size: 0.9rem;
      color: rgb(143, 142, 142);
      margin-bottom: 0;
    }
  }
  .service-bar__icon1 {
    background-color: #4eb3b3;
    color: #fff;
  }

  .service-bar__icon2 {
    background-color: #db409b;
    color: #fff;
  }

  .service-bar__icon3 {
    background-color: #6ca313;
    color: #fff;
  }

  .service-bar__icon4 {
    background-color: #d67a2f;
    color: #fff;
  }

  .box1 {
    background-color: #f47c7c;
  }

  .box2 {
    background-color: #816797;
  }

  .box3 {
    background-color: #66bfbf;
  }
}
